* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #DFD9B9;
  color: #56270C;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.6;
  padding: 20px;
  max-width: 100%;
  overflow-x: hidden;
  height: 100vh;

}

.header {
  background-color: #D67942;
  color: #FFFFFF;
  padding: 1rem;
  width: 100%;
  text-align: center;
  position: relative;
  margin: 40px 0 20px 0; 
  border-bottom: 1px solid #e1e1e1;
  border-radius: 0.5rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
}

h1 {
  font-size: 1.8rem;
  color: #2c3e50;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#catalogo-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 5px; 
  padding: 5px; 
}

#catalogo-container img {
  width: auto; 
  height: 10vh; 
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

#catalogo-container img:hover {
  transform: scale(1.1);
}

#mapa {
  flex-grow: 1;
  height: auto;
  width: calc(100% - 20px);
  background-color: #eaeaea;
  background-size: cover; 
  background-position: center;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc; 
  margin: 0 auto 10px auto; 
  border-radius: 5px; 
}

.leaflet-control-attribution {
  position: absolute !important; 
  bottom: 5px; 
  right: 5px;
  font-size: 12px; 
  background: rgba(255, 255, 255, 0.8); 
  padding: 2px 5px; 
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

#producto-info-container {
  text-align: center;
  width: 90%; 
  margin: 10px auto; 
  padding: 10px;
  background-color: #DFD9B9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

#producto-info-container h2 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333; 
}

#producto-info-container p {
  font-size: 14px;
  color: #666; 
  margin: 0;
}

.back-button {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    background-color: #D67942; 
    color: #FFFFFF; 
    padding: 8px 12px; 
    border: none;
    border-radius: 5px; 
    text-decoration: none; 
    font-size: 14px; 
    cursor: pointer; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease; 
}

.back-button:hover {
    background-color: #b85d36; 
}

.mode-indicator {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1rem;
  color: #333;
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}










