body {
  font-family: sans-serif;
  background: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centrar verticalmente */
  height: 100vh; /* Asegurar que ocupe toda la altura de la ventana */
  overflow: hidden; /* Evitar el scroll */
}

h1 {
  margin-top: -20px; /* Reduce el margen superior para mover el título hacia arriba */
  margin-bottom: 2rem;
  font-size: 4rem; /* Tamaño grande como en móvil */
  font-weight: bold;
  color: #D67942; /* Color amarillo estilo IKEA */
  text-transform: uppercase;
  text-shadow: 2px 2px 0 #56270C; /* Sombra azul estilo IKEA */
}

.button-container {
  display: flex;
  flex-direction: row; /* Cambiar a diseño horizontal */
  gap: 1.5rem; /* Espaciado entre botones */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Alinear verticalmente */
  width: 100%; /* Asegurar que los botones ocupen el ancho disponible */
  max-width: 800px; /* Limitar el ancho máximo */
}

.button {
  padding: 1.5rem;
  font-size: 1.5rem;
  border: 2px solid transparent;
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  flex: 1; /* Hacer que los botones tengan el mismo tamaño */
  max-width: 200px; /* Limitar el ancho máximo de cada botón */
}

.button:hover {
  transform: scale(1.05); /* Aumentar ligeramente el tamaño al pasar el cursor */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Aumentar la sombra */
}

.button:active {
  transform: scale(0.95); /* Reducir ligeramente el tamaño al hacer clic */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Reducir la sombra */
}

.button.active {
  border-color: #D67942;
  background-color: #DFD9B9;
  transform: scale(1.05); /* Aumentar ligeramente el tamaño al pasar el cursor */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Aumentar la sombra */
}

.switch-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #D67942;
}

input:checked + .slider:before {
  transform: translateX(14px);
}