body {
    display: flex;
    flex-direction: column; /* Asegura que el título esté arriba */
    height: 100vh;
    margin: 0;
}

.header {
    background-color: #DFD9B9;
    color: #FFFFFF;
    padding: 1rem;
    width: 100%; /* Ocupa todo el ancho */
    text-align: center;
    position: relative;
    margin-bottom: 10px; /* Añade un pequeño espacio debajo del título */
    border-bottom: 1px solid #e1e1e1;
    border-radius: 0.5rem; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Sombra suave */
}

.main-content {
    display: flex;
    flex: 1; /* Ocupa el espacio restante debajo del título */
    width: 100%; /* Asegura que ocupe todo el ancho */
    margin-top: 10px; /* Opcional: Añade un espacio superior si no usas margin-bottom en .header */
}

#carrito-container {
    width: 30%; /* Ocupa el 30% del ancho */
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
    overflow-y: auto; /* Habilita el scroll si el contenido es muy grande */
}

#mapa {
    width: 70%; /* Ocupa el 70% del ancho */
    flex-grow: 1; /* Asegura que el mapa ocupe el espacio restante */
    background-color: #eaeaea; /* Fondo gris claro para el mapa */
    border-radius: 0.5rem;
    margin-left: 1rem; /* Espacio entre el carrito y el mapa */
}

h1 {
    margin-top: 0;
    font-size:5vh;
}

/* Estilo para los botones de los productos */
button.mostrar-ruta {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

button.mostrar-ruta:hover {
    background-color: #0056b3;
}

button.mostrar-ruta:active {
    background-color: #003f7f;
}

.back-button {
    position: absolute; /* Posiciona el botón de forma absoluta */
    top: 10px; /* Espaciado desde la parte superior */
    left: 10px; /* Espaciado desde la parte izquierda */
    background-color: #D67942; /* Color de fondo */
    color: #FFFFFF; /* Color del texto */
    padding: 8px 12px; /* Espaciado interno */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Elimina el subrayado */
    font-size: 14px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
    transition: background-color 0.3s ease; /* Transición suave al pasar el cursor */
  }
  
  .back-button:hover {
    background-color: #b85d36; /* Color de fondo al pasar el cursor */
  }

.mode-indicator {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1rem;
  color: #333;
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}